{"type":"Texture","genMipmaps":false,"mipmapLevels":3,"filter":"Nearest","wrap":"Repeat","maxResolutionID":10,"quality":90,"originalWidth":96,"originalHeight":96,"width":96,"height":96,"blackIsAlpha":false,"is9patch":false,"autoGenNormalMap":false,"autoGenNormalMapBias":80,"rotate":"None","flipX":false,"flipY":false,"grayscale":false,"hue":180,"allowHUE":false,"invertColors":false,"noise":false,"allowSaturation":false,"saturation":100,"sepia":false,"sharpen":false,"sketch":false,"vignette":false,"gaussian":false,"allowContrast":false,"contrast":100,"allowBrightness":false,"brightness":0,"allowBoost":false,"boostRed":0,"boostBlue":0,"boostGreen":0,"allowColorDepth":false,"colordepth":0,"allowOpacity":false,"opacityTextureFile":null,"allowModifications":false,"format":"RGBA8","compressionFormat":"ASTC_8","compressionEffort":"Fast","gammaCorrection":false,"spriteData":null,"importedFormat":"RGBA8"}