{"allowBoost":false,"allowBrightness":false,"allowColorDepth":false,"allowContrast":false,"allowHUE":false,"allowSaturation":false,"allowTransparency":true,"boostBlue":0,"boostGreen":0,"boostRed":0,"brightness":0,"colordepth":0,"contrast":100,"filter":"Nearest","flipX":false,"flipY":false,"gaussian":false,"genMipmaps":true,"grayscale":false,"height":256,"hue":180,"invertColors":false,"maxResolutionID":12,"noise":false,"originalHeight":256,"originalWidth":256,"quality":90,"saturation":100,"sepia":false,"sharpen":false,"sketch":false,"vignette":false,"width":256,"wrap":"Repeat"}